body{
    background-color: RGB(255,255,0);
    font-size: 25px;
}

.navbar{
    width:100%;
    background-color: burlywood;
}

.navbar .container{
    width:100%;
    display: flex;
    align-items: space-between;
    justify-content: center;
}